*, h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	border-bottom: 1px dotted #dddddd;
	line-height: 2em;
	margin: 50px 0 30px 0;
}
h2 {
	font-size: 1.75rem;
	margin: 0 0 15px 0;
}
em {
	color: #777777;
}

.top-bar {
	background: #ffffff;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
	.name h1 a,
	.toggle-topbar.menu-icon a,
	&-section ul li > a {
		color: #666666;
	}
	.name h1 a {
		font-size: 1.3rem;
		font-weight: 100;
	}
	.toggle-topbar.menu-icon a {
		font-weight: 300;
		font-size: 1rem;	
		&:hover {
			color: #111111;
		}
		& span::after {
			box-shadow: 0 0px 0 1px #666, 0 7px 0 1px #666, 0 14px 0 1px #666;
		}
		& span:hover:after {
			box-shadow: 0 0px 0 1px #111, 0 7px 0 1px #111, 0 14px 0 1px #111;
		}
	}
	&-section ul li {
		background: #f0f0f0;
		font-size: 1rem;
		&:hover:not(.has-form) > a {
			background: #dddddd;
			color: #333333;
		}
		&:not(.has-form) a:not(.button) {
			background: #FFFFFF;
			font-size: 1rem;
			font-weight: 100;
			&:hover {
				background: none;
			}
		}
		&.active, &.active > a:not(.button) {
			background: #2ba6cb;
		}
	}
	&.expanded {
		box-shadow: none;
		.title-area {
			background: #ffffff;
		}
	}
	@media screen and (max-width: 640px) {
		.title-area {
			box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
			z-index: 1;
		}
	}
}

.splash {
	background: url('../img/kevin-dooley-flickr-diana+mini.jpg') left center no-repeat;
	background-size: cover;
	height: 450px;
	position: relative;
	width: 100%;
	.photo-credit {
		background: #000000;
		background: rgba(0, 0, 0, 0.35);
		bottom: 0;
		display: none;
		left: 0;
		position: absolute;
		width: 100%;
		p {
			color: #f0f0f0;
			font-size: 0.5rem;
			margin: 5px;
		}
	}
	@media screen and (min-width: 641px) {
		&:hover .photo-credit {
			display: block;
		}
	}
}

.intro {
	padding-top: 15px;
	.title {
		color: #ffffff;
		font-size: 3.5rem;
		line-height: 1em;
		max-width: 100%;
		overflow: hidden;
		padding-bottom: 7px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
		span {
			@media screen and (max-width: 450px) {
				display: block;
			}
		}
	}
	.description {
		color: #ffffff;
		max-width: 480px;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.25);
	}
	.divider {
		border-botttom: none;
		border-top: 1px solid #ffffff;
		max-width: 480px;
		@media screen and (max-width: 500px) {
			font-size: 4rem;
			margin: 0 auto;
			width: 85%;
		}
	}
	.links {
		margin: 15px auto 0;
		li {
			display: inline-block;
			margin-right: 15px;
		}
		a {
			display: block;
		}
		.genericon {
			color: #ffffff;
			font-size: 2rem;
			text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.25);
			&:hover {
				color: #dddddd;
			}
		}
		@media screen and (max-width: 500px) {
			text-align: center;
		}
	}
	@media screen and (min-width: 501px) {
		padding-top: 0.9375em;
	}
}

#skills {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		background: #2ba6cb;
		color: #ffffff;
		float: left;
		margin: 0 10px 10px 0;
		padding: 5px 10px;
	}
}

#work {
	.carousel {
		margin: 30px 25px 0;
		padding: 0 0.9375em;
	}
	h4 {
		margin: 10px 0 0;
	}
	.slick-prev, .slick-next {
		height: 32px;
		width: 32px;
	}
	.slick-prev:before, .slick-next:before {
		color: #2ba6cb;
		font-size: 2rem;
	}
}

#contact {
	padding-bottom: 50px;
}
