<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | alexdelgado.github.io</title>
		<meta name="description" content="A freelance Web Developer with ten years of practical experience and an MBA from Rutgers University looking for an opportunity to do something awesome.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="//fonts.googleapis.com/css?family=Raleway:100,300,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/foundation.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/genericons.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/slick.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/style.min.css" rel="stylesheet" type="text/css">

		<script src="js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
